## Imports

In [57]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

df = pd.read_csv("data.csv")
profile = ProfileReport(df, title="My Data Report")

# Save as HTML file to view in browser
profile.to_file("data_report.html")
print("Report saved as data_report.html - open it in your browser")

100%|██████████| 14/14 [00:00<00:00, 63.35it/s]0<00:00, 33.31it/s, Describe variable: num       ]
Summarize dataset: 100%|██████████| 27/27 [00:02<00:00, 10.90it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:08<00:00,  8.06s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.94it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 70.88it/s]

Report saved as data_report.html - open it in your browser

In [58]:
df.dtypes

age             int64
sex             int64
cp              int64
trestbps       object
chol           object
fbs            object
restecg        object
thalach        object
exang          object
oldpeak       float64
slope          object
ca             object
thal           object
num             int64
dtype: object

In [59]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [60]:
# Check column names and shape
print("Columns in dataframe:")
print(df.columns.tolist())
print(f"\nShape: {df.shape}")
print(f"\nFirst few rows:")
df.head()

Columns in dataframe:
['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num       ']

Shape: (293, 14)

First few rows:

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [61]:
# Clean column names first
df.columns = df.columns.str.strip()

# Replace '?' with NaN across entire dataframe
df = df.replace('?', 0)

# Convert numeric columns to proper numeric type
numeric_cols = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 
                'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Fill missing values with median or 0
df = df.fillna(0)

target_name = "num"

x = df.drop(columns="num")
y = df[target_name]
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,28,1,2,130,132,0,2,185,0,0.0,0,0,0
1,29,1,2,120,243,0,0,160,0,0.0,0,0,0
2,29,1,2,140,0,0,0,170,0,0.0,0,0,0
3,30,0,1,170,237,0,1,170,0,0.0,0,0,6
4,31,0,2,100,219,0,1,150,0,0.0,0,0,0

In [62]:
df["oldpeak"].value_counts()

oldpeak
0.0    188
1.0     41
2.0     31
1.5     16
3.0      9
2.5      3
0.5      2
0.8      1
4.0      1
5.0      1
Name: count, dtype: int64

In [63]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [73]:
import numpy as np
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

# Define the model
reg = KNeighborsClassifier()

# Define the parameter grid
param_grid = {
    'n_neighbors': [3, 5, 7, 9, 11],   # Different neighbor counts
    'weights': ['uniform', 'distance'], # Weighting schemes
    'metric': ['euclidean', 'manhattan', 'minkowski'] # Distance metrics
}

# Apply GridSearchCV
grid_search = GridSearchCV(
    estimator=reg,
    param_grid=param_grid,
    cv=5,                # 5-fold cross-validation
    scoring='accuracy',  # You can also try 'f1', 'precision', 'recall'
    n_jobs=-1            # Use all cores for faster computation
)

# Fit the model
grid_search.fit(x_train, y_train)

# Best parameters
print("Best Parameters:", grid_search.best_params_)

# Best estimator
best_reg = grid_search.best_estimator_

# Predictions with best model
lr_pred = best_reg.predict(x_test)

# Evaluation metrics
print("accuracy_score:", accuracy_score(y_test, lr_pred))
print("\nF1:", f1_score(y_test, lr_pred))
print("\nPrecision score:", precision_score(y_test, lr_pred))
print("\nRecall score:", recall_score(y_test, lr_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, lr_pred))

Best Parameters: {'metric': 'manhattan', 'n_neighbors': 11, 'weights': 'uniform'}
accuracy_score: 0.7288135593220338

F1: 0.4666666666666667

Precision score: 0.5833333333333334

Recall score: 0.3888888888888889

Confusion Matrix:
 [[36  5]
 [11  7]]

In [72]:
import numpy as np
from sklearn.metrics import  f1_score, precision_score, recall_score, accuracy_score, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
reg = KNeighborsClassifier(n_neighbors=5)
reg.fit(x_train,y_train)

lr_pred=reg.predict(x_test)

print("accuracy_score:",accuracy_score(y_test,lr_pred))
print("\n F1:\n",f1_score(y_test,lr_pred))
print("\n Precision score is:\n",precision_score(y_test,lr_pred))
print("\n Recall score is:\n",recall_score(y_test,lr_pred))
print( "confusion matrix is:\n",confusion_matrix(y_test,lr_pred))

accuracy_score: 0.6610169491525424

 F1:
 0.4117647058823529

 Precision score is:
 0.4375

 Recall score is:
 0.3888888888888889
confusion matrix is:
 [[32  9]
 [11  7]]